<template>
  <div class="hello">
    <form id="submitform" ng-upload method="post" enctype="multipart/form-data">
      <div id="signature-pad" class="m-signature-pad">
        <div class="m-signature-pad--body" v-bind:class="{ 'hide-placeholder': hasBeenDrawn }">
          <canvas
            id="signaturePadCanvas"
            @mousedown="hasBeenDrawn = true"
            @touchstart="hasBeenDrawn = true">
          </canvas>
          <button
            :disabled="!hasBeenDrawn"
            @touchstart="clearSignaturePad"
            @click.prevent="clearSignaturePad">Clear
          </button>
          <button
            :disabled="!hasBeenDrawn"
            @touchstart="submit"
            @click.prevent="submit">Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import reach from '@helios-interactive/reachjs';
import SignaturePad from 'signature_pad';

export default {
  name: 'waiver',
  data() {
    return {
      hasBeenDrawn: false,
      signaturePad: null,
      signaturePadCanvas: null,
    };
  },
  methods: {
    clearSignaturePad() {
      this.hasBeenDrawn = false;
      this.signaturePad.clear();
    },
    submit() {
      if (this.signaturePad.isEmpty()) return;
      reach.image.fromCanvas(this.signaturePadCanvas, { type: 'image/png', quality: 1 }, (canvasUploadError, data) => {
        if (canvasUploadError) return console.error(canvasUploadError);
        /**
         * this hard coded activation id 'f8f55e90-b864-4702-99f3-7f4f8cc4288c' should come
         * from the store's activationId. And the hard coded guest id
         * '4e35a53a-8887-4e53-a98e-e1677479f189' is ME, nicholas eymann,
         * that should come from the store as well.
         */
        const upload = reach.upload('f8f55e90-b864-4702-99f3-7f4f8cc4288c', data, { type: 'waiver', guestId: '4e35a53a-8887-4e53-a98e-e1677479f189', private: false }, (fileUploadError, res) => {
          if (fileUploadError) return console.error(fileUploadError);
          if (!res.body.length) return console.error(new Error('no files returned from reach api'));
          console.log('signature successfully saved');
          return this.clearSignaturePad();
        });
        return upload;
      });
    },
  },
  mounted() {
    // reach setup that has already happened in ticket config, just setting this here for testing
    reach.setUrl('https://reach.heliossf.com/api');
    reach.key = 'z7nBc9TZu2ID3EzQ';

    // get the canvas element that will contain the scribble/signature
    this.signaturePadCanvas = document.getElementById('signaturePadCanvas');
    // set up an instance of the signature pad plugin: https://github.com/szimek/signature_pad
    // eslint-disable-next-line no-new
    this.signaturePad = new SignaturePad(this.signaturePadCanvas);

    const resizeCanvas = () => {
      // this sets up the scale and size of the canvas
      const ratio = Math.max(window.devicePixelRatio || 1, 1);
      this.signaturePadCanvas.width = this.signaturePadCanvas.offsetWidth * ratio;
      this.signaturePadCanvas.height = this.signaturePadCanvas.offsetHeight * ratio;
      this.signaturePadCanvas.getContext('2d').scale(ratio, ratio);
    };

    // this bit is necessary to deal with a bug on resizing the canvas
    window.onresize = resizeCanvas;
    resizeCanvas();
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  canvas {
    width:924px;
    height:300px;
  }

  .m-signature-pad{
    width: 100%;
    height: 100px;
    background-color: transparent;
  }

  .m-signature-pad--body {
    position: relative;
    float: left;
    background: #fff url(../assets/sign-line.png) no-repeat 20px 50px;
  }

  .m-signature-pad--body::before {
    pointer-events: none;
    content: 'Use your finger to sign the waiver';
    font-size: 36px;
    color: #747573;
    position: absolute;
    bottom: 60px;
    right: 70px;
    width: 100%;
    text-align: center;
  }

  .m-signature-pad--body.hide-placeholder::before {
    display: none;
  }

  .m-signature-pad--footer {
    width: 100%;
    display: inline;
  }

</style>
